

* {
    font-family: 'Roboto';
    color: white;
}

body {
    padding: 0px;
    margin: 0px;
    background-color:#212120;
}

header {
    display: flex;
    justify-content: space-between;
}

#pokemon-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    grid-template-rows: auto;
}

main>.card:first-child {
    /* grid-column-start: 2; */
}

.card {
    padding: 10px;
    background-color: gray;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
}

.card-body {
    padding-top: 20px;
    padding-bottom: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-type {
    padding: 5px;
    border-radius: 7px;
    background-color: black;
}

.card-title {
    text-align: center;
    padding: 7px;
    border: 1px solid #ffffff;
    border-radius: 10px;
}

.card-body-image {
    text-align: center;
}

.card-body-type {
    display:flex;
    justify-content: center;
    gap: 20px;
}

.card-footer-description {
    overflow-y: auto;
    padding: 10px;
    max-height: 50px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}