:root {
  --bg-color:  gray;
  --text-color: white;
  --text-name: #374151;
}

:root,
nav {
  /* background-color: var(--bg-color); */
  color: var(--text-color);
}

.container {
  /* background-color: var(--bg-color); */
}

.card-footer-description {
  color: var(--text-color);
}

:root:has(#darkmode-toggle:checked) {
  --bg-color:#0d1117;
  --text-color: #0d1117;
  --text-name: #d1d5db;
}

body {
  position: relative;
}

.card {
  box-shadow: 0.5rem 0.5rem var(--bg-color);
  border:  var(--bg-color) solid 0.5rem;
}

.card-title {
  color: black;
  border-color: var(--bg-color);
}

.card-description {
  color: black;
}

:root:has(#darkmode-toggle:checked) body::before {
  content: "";
  position: absolute;
  inset: 0px;
  opacity: 50%;
  background-color: darkslateblue;
}