:root {
  --bg-color: rgb(210, 213, 217);
  --text-color: #0d1117;
  --text-name: #374151;
}

:root,
nav {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.container {
  background-color: var(--bg-color);
}

:root.card-footer-description {
  color: var(--bg-color)
}

:root:has(#darkmode-toggle:checked) {
  --bg-color: #0d1117;
  --text-color: #0d1117;
  --text-name: #d1d5db;
}
