

* {
    font-family: 'Roboto';
    /* color: white; */
}

body {
  background-image: url('/public/images/safari_zone.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 50%;
  margin: 0px;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0px 8px;
}

main {
  margin-top: 25px;
}

#pokemon-container {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-gap: 50px;
    grid-template-rows: auto;
    box-sizing: border-box;
    margin-left: 50px;
    margin-right: 50px;
}

.card {
    padding: 10px;
    background-image: gray;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 350px;
    z-index: 1;
    position: relative;
    cursor: pointer;
}
.pokemon-container .card:hover {
  background-color: black;
}
/* .card:hover::before{
  content: "";
  position: absolute;
  inset: 0px;
  background-color: white;
} */

.card-body {
    padding: 10px 0px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-type {
    padding: 5px;
    border-radius: 7px;
    background-color: black;
}

.card-title {
    text-align: center;
    padding: 7px;
    border: 1px solid #ffffff;
    border-radius: 10px;
}

.card-body-image {
  text-align: center;
  position: relative;
  z-index: 2;
  background-color: white;
  border-radius: 50%;
  height: 165px;
  display:flex;
  justify-content: center;
  align-items: center;
}

.card-body-type {
    display:flex;
    justify-content: center;
    gap: 20px;
}

.card-footer-description {
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
    max-height: 50px;
}
.darkmode-container {
  display: inline-block;
  cursor: pointer;
}

.darkmode-icon-container {
  position: relative;
  background-color: rgb(4, 4, 4);
  border-radius: 9999px;
  padding: 32px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.darkmode-icon-box {
  position: absolute;
  background: white;
  transition-duration: 500ms;
  border-radius: 9999px;
  padding: 2px;
  top: 2px;
  left: 6px;
}

.darkmode-container input {
  opacity: 0;
  height: 0;
  width: 0;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  border-radius: 999px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(45, 4, 4);
  border-radius: 999px;
  border: 2px solid white;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media only screen and (min-width: 480px) {
  #pokemon-container {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

@media only screen and (min-width: 640px) {
  #pokemon-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media only screen and (min-width: 768px) {
  #pokemon-container {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media only screen and (min-width: 1080px) {
  #pokemon-container {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}

@media only screen and (min-width: 1440px) {
  #pokemon-container {
    grid-template-columns: repeat(7, minmax(0, 1fr));
  }
}

@media only screen and (min-width: 2560px) {
  #pokemon-container {
    grid-template-columns: repeat(9, minmax(0, 1fr));
  }
}


input:checked + .slider {
  background-color: #eab308;
}

input:checked + .slider > div {
  -webkit-transform: translateX(2rem);
  -ms-transform: translateX(2rem);
  transform: translateX(2rem);
  background-color: black;
}